{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags paginator %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {{ page.title}}
      {% if page.subtitle %}
        <small>
          {{ page.subtitle }}
        </small>
      {% endif %}
    </h1>
  </div>

  <div class="intro">{{ page.intro|richtext }}</div>

  <h4>
    Posts
    {% if request.GET.tag|length %}
      tagged as {{ request.GET.tag|safe }}
      <a href="{% pageurl self %}">Show All</a>
    {% endif %}
  </h4>
  <p>
    Filter by:
    {% for tag in tags %}
      <a href="?tag={{ tag }}">{{ tag }} ({{ tag.pages }})</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  </p>
  <ul class="media-list">
    {% for blog in blogs %}
      <li class="media">
        <div class="media-left">
          <a href="{% pageurl blog %}">
            {% image blog.feed_image fill-80x80 class="img-rounded" %}
          </a>
        </div>
        <div class="media-body">
          <a href="{% pageurl blog %}">
            <h4 class="media-heading">{{ blog.title }}</h4>
          </a>
          <p>{{ blog.intro }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% paginator blogs query_params=request.GET %}
{% endblock %}
