{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags gravatar %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  <article>

    <header>
      <div class="page-header">
        <h1>
          {{ page.title}}
          {% if page.subtitle %}
            <small>
              {{ page.subtitle }}
            </small>
          {% endif %}
        </h1>
      </div>
      <p class="meta">
        Published {{ page.date }}
        {% if page.tags.count %}
          in
          {% for tag in page.tags.all %}
            <a href="{% pageurl page.blog_index %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </p>
    </header>

    {{ page.body }}

    <footer>
      <div class="row">

        <div class="col-md-5">
          <h4>Contributors</h4>
          <ul class="media-list">
            {% for contributor in page.contributors.all %}
              <li class="media panel panel-default author">
                <div class="panel-body">
                  <div class="media-left">
                    <img class="img-rounded" src="{% gravatar_url contributor.user.email 40 %}" />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      {{ contributor.user.first_name }} {{ contributor.user.last_name }}
                    </h4>
                    <span class="author-title">
                      {{ contributor.user.user_profile.title }}
                      {% if contributor.user.user_profile.title and contributor.user.user_profile.organization %}
                        at
                      {% endif %}
                      {% if contributor.user.user_profile.website %}
                        <a href="{{ contributor.user.user_profile.website }}">
                          {{ contributor.user.user_profile.organization }}
                        </a>
                      {% else %}
                        {{ contributor.user.user_profile.organization }}
                      {% endif %}
                    </span>
                    <span class="author-role">
                      {{ contributor.role }}
                    </span>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-7">
          <h4>Related Pages</h4>
          <ul class="media-list">
            {% for related_page in page.related_pages %}
              <li class="media panel panel-default">
                <div class="panel-body">
                  <div class="media-left">
                    <a href="{% pageurl related_page %}">
                      {% image related_page.feed_image fill-80x80 class="img-rounded" %}
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="{% pageurl related_page %}">
                      <h4 class="media-heading">
                        {{ related_page.title }}
                      </h4>
                    </a>
                    <p>{{ related_page.intro }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </footer>

  </article>
{% endblock %}
