{% extends "base.html" %}

{% load wagtailcore_tags gravatar %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  <article>

    <header>
      <div class="page-header">
        <h1>
          {{ page.title}}
          {% if page.subtitle %}
            <small>
              {{ page.subtitle }}
            </small>
          {% endif %}
        </h1>
      </div>
      <p class="meta">
        Published {{ page.date }}
        {% if page.tags.count %}
          in
          {% for tag in page.tags.all %}
            <a href="{% pageurl page.blog_index %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </p>
    </header>

    {{ page.body }}

    <footer>
      <div class="row">
        <div class="col-md-5">
          <h4>Contributors</h4>
          <ul class="media-list">
            {% for contributor in page.contributors.all %}
              <li class="media panel panel-default">
                <div class="panel-body">
                  <div class="media-left">
                    <img class="img-rounded" src="{% gravatar_url contributor.user.email 40 %}" />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      {{ contributor.user.first_name }} {{ contributor.user.last_name }}
                    </h4>
                    {{ contributor.position }}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </footer>

  </article>
{% endblock %}
